:root {
    --background-color: #d5c0f3;
    --input-border-color: lightgray;
    --nav-bg: #24292e ;
    --form-label: var(--nav-bg);
}

body {
    padding: 0px !important;
    margin: 0px !important;
    background-color: var(--background-color);
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    background-color: var(--nav-bg);
    color: white;
    padding: 10px 0;
    overflow: hidden;
    top: 0;
    z-index: 2;
    top:0;
}
.main-message-wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation-name: message;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes message{
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Recursive', sans-serif;
}
.logo-wrapper {
    margin-left: 40px;
    transform: rotateZ(-15deg);
    font-family: 'Lobster', cursive !important;
    position: relative;
    z-index: 2;

}
.logo-wrapper h2 a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-family: 'Lobster', cursive !important;
}
.logo-wrapper h2 a:hover {
    color: rgb(191, 191, 255);
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center !important;
    width: 400px;
    color: white;
    margin-right: 30px;
    font-family: 'Recursive', sans-serif;

}
.burger {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 2;

}
.burger div {
    background-color: white;
    width: 20px;
    height: 2.5px;
    margin-bottom: 2px;
    transition: 1s;
}
.todo-form-wrapper {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}

.todo-form-wrapper .form input{
    width:100%;
    height: 100%;
    margin-bottom: 5px;
    font-size: 20px;

}
.todo-btn button {
    width: 100%;
}
.todo-clear-btn a{
    width: 40%;
}
.content-wrapper {
    background-color: var(--nav-bg);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 5px; 
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
    font-family: 'Pacifico', cursive;
}
.items-wrapper {
    border-radius: 10px;
    padding: 0 5px;

}
.item-wrapper a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.li-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 2px;
    background-color: darkslateblue;
    padding: 10px;
    color: white;
    border-radius: 10px;
}


.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-stretch {
    display: inline-block !important;
    width: 100%;
}
.white-text {
    color: lightblue;
}
.login-form-wrapper {
    transition:0.5s;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
    margin: 100px auto;
    color: var(--form-label);
    max-width: 400px;
}

.reg-form-wrapper {
    transition: 0.5s;
    width: 40%;
    height: 100%;
    color: var(--form-label);
    border-radius: 10px;
    margin: 100px auto;
    padding: 10px;
    max-width: 400px;
    
}

.field-wrapper input {
    width: 100%;
    height: 55px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    border: .5px var(--input-border-color) solid;
    transition: .5s;
    background-color: white;
}

.field-wrapper input:focus {
    border: 1px #24292e solid;
    box-shadow: 0 0 8px 0 #24292e;
}
.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    list-style: none;
    color: rgb(236, 96, 96);
    margin: 0;
    padding: 0;
    font-size: 13px;

}
.label-wrapper label{
    padding: 0;
    margin: 0;
}
.logout-style {
    margin-top: 80px;
    font-family: 'Candal', sans-serif;

}
.logout-style div a {
    display: inline-block;
    text-decoration: none;
    color: blueviolet;
    font-family: 'Candal', sans-serif;
}
@media(max-width: 1200px){
    .content-wrapper {
        background-color:rgb(19, 0, 37);
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 15px 20px;
    }
}
@media(max-width: 992px){
    .content-wrapper {
        background-color:rgb(19, 0, 37);
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 15px 20px;
    }
    .login-form-wrapper {
        transition:0.5s;
        width: 60%;
        border-radius: 5px;
        padding: 10px;
        margin: 100px auto;
    }
    .reg-form-wrapper {
        transition: 0.5s;
        width: 60%;
        height: 100%;
        border-radius: 10px;
        margin: 100px auto;
        padding: 10px;
        
    }
}
@media  (max-width: 768px){
    .content-wrapper {
        background-color:rgb(19, 0, 37);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 15px 10px;
    }
    .li-class {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        margin-bottom: 2px;
        background-color: darkslateblue;
        padding: 7px;
        color: white;
        border-radius: 10px;
        font-size: 14px;
    }
    .login-form-wrapper {
        transition:0.5s;
        width: 70%;
        border-radius: 5px;
        padding: 10px;
        margin: 100px auto;
    }
    .reg-form-wrapper {
        transition: 0.5s;
        width: 70%;
        height: 100%;
        border-radius: 10px;
        margin: 100px auto;
        padding: 10px;
        
    }
    nav {
        flex-direction: row-reverse;
    }
    .burger {
        display: block;
        margin-left: 5%;
    }
    .links {
        position: absolute;
        top: 11%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(19, 0, 37);
        height: 100vh;
        width: 80vw;
        transform: translateX(-100%);
        transition: transform 0.5s;
        z-index: 1;
    }
    
}
@media  (max-width: 576px){
    .content-wrapper {
        background-color: rgb(19, 0, 37);
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 10px 5px;
    }
    .li-class {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        margin-bottom: 2px;
        background-color: darkslateblue;
        padding: 5px;
        color: white;
        border-radius: 10px;
        font-size: 12px;
    }
    .login-form-wrapper {
        transition:0.5s;
        width: 80%;
        padding: 10px;
        margin: 100px auto;
    }
    .reg-form-wrapper {
        transition: 0.5s;
        width: 80%;
        height: 100%;
        margin: 100px auto;
        padding: 10px;
        
    }
    nav {
        flex-direction: row-reverse;
    }
    .burger {
        display: block;
        margin-left: 5%;
    }
    .links {
        position: absolute;
        top: 9%;
        left: 0;
        background-color: var(--nav-bg);
        height: 100vh;
        width: 100vw;
        transform: translateX(-100%);
        transition: transform 0.5s;
        z-index: 1;

    }
    .logout-style {
        font-size: 30px !important;
    }
    
}

.toggle-nav {
    transform: translateX(0);
}

.cross .line1 {
    transform: rotate(-45deg) translate(-3px, 3px);
}
.cross .line2 {
    opacity: 0;
}
.cross .line3 {
    transform: rotate(45deg) translate(-3px, -3px); 
}
footer {
    background-color: rgb(19, 0, 37);
    color: white;
    margin-top: 100vh;
    margin-bottom: 0;
}
.my-footer {
    color: white;
}
 