{% extends "todo_app/base.htm" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}
{% block content %}
<div class="login-form-wrapper">
    <h4 class="display-4 text-center">Login</h4>
    <hr class="bg-light">
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            {% for field in form %}
                <div class="field-wrapper">
                    {{field.errors}}
                    {{field}}
                </div>
            {% endfor %}
            <button class="btn-stretch btn btn-success" type="submit">Login</button>
        </div>
    </form>
    <p class="mt-2">Don't have an account? <a href="{% url 'user_registration' %}">Sign up</a></p>
</div>
{% endblock content %}